#o_nas{
    min-height: 100vh;
    background:  linear-gradient(
        rgba(0, 0, 0, 0.9), 
        rgba(0, 0, 0, 0.7)
      ), url(../images/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    backdrop-filter: blur(2px);
    background:  linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0)
      );
    transition: all 1s ease;
}

nav img{
    height: 40px;
    padding: .25rem 0 0 .25rem;
}

nav ul{
    display: flex;
    height: 100%;
    list-style: none;
    justify-content: center;
    color: var(--primary-white);
}

nav li{
    background:  linear-gradient(
        rgba(204, 128, 21, 0), 
        rgba(204, 128, 21, 0)
      );
    display: flex;
    padding: 0 .75rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 1px;
}

nav li:hover{
    background:  linear-gradient(
        rgba(204, 128, 21, 0.9), 
        rgba(204, 128, 21, 0.2)
      );
    cursor: pointer;
}

#o_nas .container{
    color: var(--primary-white);
    font-size: 6rem;
    justify-items: center;
}

#o_nas .container p{
    font-weight: bold;
}
