#oferta{
    background-color: var(--primary-light);
    color: var(--accent);
    height: auto;
}

#oferta .container{
    padding: 4rem 2rem 4rem 2rem;
    justify-content: center;
}

#oferta .container h1{
    text-align: center;
}

#oferta .card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.75rem;
    margin-top: 2.5rem;
}

#oferta .card-container-row{
    display: flex;
    justify-content: center;
    gap: 1.75rem;
}

.card-container .card{
    display: grid;
    width: 150px;
    height: 280px;
    border-radius: 10px;
    align-items: end;
    transition: all .35s ease-out;
}

.card-container .card:hover,
.card.active{
    cursor: pointer;
    transform: scale(1.1);
}

.card-container .card:hover>.card-name,
.card.active>.card-name{
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
    background-color: var(--accent);
    color: var(--primary-white);
}

#tarcica{
    background-image: url(../images/tarcica/tar1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

#okleiny{
    background-image: url(../images/okleiny/okl1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

#el_meblowe{
    background-image: url(../images/el_meblowe/el1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

#podlogi{
    background-image: url(../images/podlogi/pod1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}


.card-container .card-name{
    background-color: var(--primary-white);
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--primary-dark);
    border-radius: 0 0 10px 10px;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    transition: all .35s ease-out;
}

.card-name h1{
    margin-top: .75rem;
    font-size: 1rem;
}

/* ---OPIS PRODUKTÓW--- */

#description_container{
    visibility: hidden;
    background-color: red;
    height: 0;
    width: auto;
    overflow: hidden;
    transition: all 1s ease;
}

#description_container.active{
    visibility: visible;
    height: 100px;
}
